extends ../layout.pug

block content
  div.container.mt-4
  h2.text-center.mb-4 Silahkan Update Account Anda
  div.row.justify-content-center
    //- Loop data
    each user in users
      div.col-md-4.mb-4
        div.card.text-black.text-center(style="background-color: #dfff00;") 
          //- div.card-header
          //-   h5.mb-0= `User ID: ${user.userId}`
          div.card-body
            p.mb-2
              strong Email: 
              span= user.email
            p.mb-2
              strong Role: 
              span= user.role
          div.card-footer
            form(action=`/admin/account/delete/${user.userId}`, method="POST", class="d-inline")
              button.btn.btn-danger.btn-sm(type="submit") Delete
            button.btn.btn-dark.btn-sm(
              onclick=`handleClick(${user.userId}, '${user.email}', '${user.role}')`
            ) Edit
            //- form(action=`/admin/account/delete/${user.userId}`, method='POST', style='display:inline')
          //-   button(type='submit') Delete
          //- form(action=`/users/delete/${user.userId}`, method="POST" style="display:inline;")
          //-   button(type="submit" style="color: red;") Delete
  form.form-horizontal(method='post' action='/admin/account' id='create')
    .mb-3
      //- label.form-label.control-label(for='userId') userId (Kosongkan Jika ingin insert/create)
      input#userId.form-control(type='text' name='userId' value= userId hidden)
    .mb-3
      label.form-label.control-label(for='email') email
      input#email.form-control(type='email' name='email' value= checkUser)
    .mb-3
      label.form-label.control-label(for='password') Password
      input#password.form-control(type='password' name='password' value= password)
    //- .mb-3
    //-   label.form-label.control-label(for='role') Role
    //-   select#role.form-control(name='role' value="")
    //-     option(value='Job Seeker') Job Seeker
    //-     option(value='Company') Company
    .mb-3.py-3
      button.btn.btn-primary.login-button(type='submit') Update account
    div#test

  
  
  script.
    function handleClick(userId, email, password, role) {
      console.log(userId, email, password, role);
      document.getElementById('userId').value = userId;
      document.getElementById('email').value = email;
      document.getElementById('password').value = password;
      document.getElementById('role').value = role;
    }



