extends ../layout.pug

block content
  div.container-account.mt-4
    each user in users
      div.card-account
        div.card-header
          h4 Silahkan Update Account Anda
        div.card-content
          p.mb-2
            strong Email: 
            span= user.email
          p.mb-2
            strong Role: 
            span= user.role
        div.card-actions
          form(action=`/admin/account/delete/${user.userId}`, method="POST", class="d-inline")
            button.btn-delete-account(type="submit") Delete
          button.btn-edit-account(onclick=`openEditPopup('${user.userId}', '${user.email}', '${user.role}')`) Edit

  div.account-popup-container-account.hidden-account
    div.account-popup-overlay-account(onclick="closePopup()")
    div.account-popups-account
      button.account-popup-close-account(onclick="closePopup()") ✖
      form(method='post' action='/admin/account' id='edit')
        div.m-0-account
          input#userId-account(type='text' name='userId' hidden)
        div.mb-3-account
          label.form-label-account(for='email') Email
          input#email-account.input-field-account(type='email' name='email')
        div.mb-3-account
          label.form-label-account(for='password') Password
          input#password-account.input-field-account(type='password' name='password')
        div.mb-3-account
          button.btn-submit-account(type='submit') Update Account

  script.
    function handleClick(userId, email, password, role) {
      console.log(userId, email, password, role);
      document.getElementById('userId').value = userId;
      document.getElementById('email').value = email;
      document.getElementById('password').value = password;
      document.getElementById('role').value = role;
    }



