extends ../layout.pug

block content
  div.container-utama-job
    div.container-table-job
      div.jobseeker-tittle
        h2 Company Profile
      div.table-container-jobb
        each company in companies
          div.tr-job
            div.td-job
              span.label-job Company ID:
              span.value-job= company.companyId
            div.td-job
              span.label-job User ID:
              span.value-job= company.userId
            div.td-job
              span.label-job Company Name:
              span.value-job= company.companyName ? company.companyName : ""
            div.td-job
              span.label-job Industry:
              span.value-job=company.industry ? company.industry : ""
            div.td-job
              span.label-job Phone:
              span.value-job= company.phone ? company.phone: ""
            div.td-job
              span.label-job City:
              span.value-job= company.city ?company.city: ""
            div.td-job
              span.label-job Country:
              span.value-job= company.country ?company.country: ""
            div.td-job
              span.label-job Email:
              span.value-job= company.email ? company.email: ""
            div.btn-td-job
              form.form-btn-job(action=`/admin/company/delete/${company.companyId}`, method="POST")
                button.btn-delete-job(type="submit") Delete
              button.btn-edit-job(onclick=`handleEditClick(${company.companyId}, '${company.userId}', '${company.companyName ? company.companyName : ""}', '${company.industry ? company.industry : ""}', '${company.phone ? company.phone: ""}', '${company.city ?company.city: ""}', '${company.country ?company.country: ""}', '${company.email ? company.email: ""}')`) Edit
    
    div#formContainer.container-form-jobb(style="display: none;")
      div.wrap-tittle-comp(style="margin-top: 30px;")
        h2.tittle-comp Please Complete Your Company Profile
      form.form-jobseeker(method='post' action='/admin/company' id='editForm')
        div.wrap-jobseeker
          label.label-jobseeker-hidden(for='companyId' hidden) companyId (Leave blank to create a new entry)
          input#companyId.input-jobseeker-hidden(type='text' name='companyId' value="" hidden autocomplete="off")
        div.wrap-jobseeker
          label.label-jobseeker-hidden(for='userId' hidden) userId
          input#userId.input-jobseeker-hidden(type='text' name='userId' value=userId hidden autocomplete="off")
        div.wrap-jobseeker
          label.label-jobseeker(for='companyName') Company Name
          input#companyName.input-jobseeker(type='text' name='companyName' value="" autocomplete="off")
        div.wrap-jobseeker
          label.label-jobseeker(for='industry') Industry
          input#industry.input-jobseeker(type='text' name='industry' value="" autocomplete="off")
        div.wrap-jobseeker
          label.label-jobseeker(for='phone') Phone
          input#phone.input-jobseeker(type='text' name='phone' value="" autocomplete="off")
        div.wrap-jobseeker
          label.label-jobseeker(for='city') City
          input#city.input-jobseeker(type='text' name='city' value="" autocomplete="off")
        div.wrap-jobseeker
          label.label-jobseeker(for='country') Country
          input#country.input-jobseeker(type='text' name='country' value="" autocomplete="off")
        div.wrap-jobseeker
          label.label-jobseeker(for='email') Email
          input#email.input-jobseeker(type='email' name='email' value="" autocomplete="off")
        div.wrap-bnt-jobseeker
          button.btn-jobseeker(type='submit') Create/Update Company


  include ../footer.pug
  
  script.
    function handleEditClick(companyId, userId, companyName, industry, phone, city, country, email) {
      document.getElementById('companyId').value = companyId;
      document.getElementById('userId').value = userId;
      document.getElementById('companyName').value = companyName;
      document.getElementById('industry').value = industry;
      document.getElementById('phone').value = phone;
      document.getElementById('city').value = city;
      document.getElementById('country').value = country;
      document.getElementById('email').value = email;

      // Tampilkan form
      const formContainer = document.getElementById("formContainer");
      formContainer.style.display = "block";

      // Scroll ke form
      formContainer.scrollIntoView({ behavior: 'smooth' });
    }