extends ../layout.pug

block content
  div.container-company
    div.container-table-company
      div.wrap-tittle-comp
        h2.tittle-comp Company Profile
      i#toggleIconCompany(class="fas fa-chevron-down icon-toggle-company", onclick="toggleCompanyVisibility()")
      div.table-container-comp(id="tableContainerCompany")
        each company in companies
          div.tr-company
            div.td-company
              span.label-company Company ID:
              span.value-company= company.companyId
            div.td-company
              span.label-company User ID:
              span.value-company= company.userId
            div.td-company
              span.label-company Company Name:
              span.value-company= company.companyName
            div.td-company
              span.label-company Industry:
              span.value-company= company.industry
            div.td-company
              span.label-company Phone:
              span.value-company= company.phone
            div.td-company
              span.label-company City:
              span.value-company= company.city
            div.td-company
              span.label-company Country:
              span.value-company= company.country
            div.td-company
              span.label-company Email:
              span.value-company= company.email
            div.wrap-btn-edit-delete-company
              form.form-btn-company(action=`/admin/company/delete/${company.companyId}`, method="POST")
                button.btn-delete-company(type="submit") Delete
              button.btn-edit-company(onclick=`handleClick(${company.companyId}, '${company.userId}', '${company.companyName}', '${company.industry}', '${company.phone}', '${company.city}', '${company.country}', '${company.email}')`) Edit
    
    div.container-form-comp
      form.form-company(method='post' action='/admin/company' id='create')
        div.mb-0
          label.form-label.control-label(for='companyId' hidden) companyId (Leave blank to create a new entry)
          input#companyId.form-control(type='text' name='companyId' value='' hidden)
        div.mb-0
          label.form-label.control-label(for='userId' hidden) userId
          input#userId.form-control(type='text' name='userId' value=userId ? userId : '' hidden)
        div.mb-3
          label.label-company(for='companyName') Company Name
          input#companyName.input-company(type='text' name='companyName' value='' autocomplete="off")
        div.mb-3
          label.label-company(for='industry') Industry
          input#industry.input-company(type='text' name='industry' value='' autocomplete="off")
        div.mb-3
          label.label-company(for='phone') Phone
          input#phone.input-company(type='text' name='phone' value='' autocomplete="off")
        div.mb-3
          label.label-company(for='city') City
          input#city.input-company(type='text' name='city' value='' autocomplete="off")
        div.mb-3
          label.label-company(for='country') Country
          input#country.input-company(type='text' name='country' value='' autocomplete="off")
        div.mb-4
          label.label-company(for='email') Email
          input#email.input-company(type='email' name='email' value='' autocomplete="off")
        div.mb-2
          button.btn-company(type='submit') Create/Update Company

    script.
      function handleClick(companyId, userId, companyName, industry, phone, city, country, email) {
        document.getElementById('companyId').value = companyId;
        document.getElementById('userId').value = userId;
        document.getElementById('companyName').value = companyName;
        document.getElementById('industry').value = industry;
        document.getElementById('phone').value = phone;
        document.getElementById('city').value = city;
        document.getElementById('country').value = country;
        document.getElementById('email').value = email;
      }

      function toggleCompanyVisibility() {
        const tableContainer = document.getElementById("tableContainerCompany");
        const toggleIcon = document.getElementById("toggleIconCompany");

        if (tableContainer.style.display === "none" || tableContainer.style.display === "") {
          tableContainer.style.display = "block";
          toggleIcon.classList.add("rotated");
          toggleIcon.classList.add("active");
          toggleIcon.style.marginBottom = "30px";
        } else {
          tableContainer.style.display = "none";
          toggleIcon.classList.remove("rotated");
          toggleIcon.classList.remove("active");
          toggleIcon.style.marginBottom = "2px";
        }
      }


