extends ../layout.pug

block content
  mixin formatText(text)
    - var formattedText = text ? text.replace(/\n/g, '<br>') : ''
    | !{formattedText}
  div.container-create-lowongan 
    div.table-create-low
      div.wrap-judul-create-low
        h2.tittle-create-lowongan Create Job
      i#toggleIconLow(class="fas fa-chevron-down icon-toggle-low", onclick="toggleJobTable()")
      div.wrap-create-low(id="tableContainerLow")
        each job in jobs
          div.tr-create-low
            div.td-create-low
              span.label-create-low Job ID:
              span.value-create-low= job.jobId
            div.td-create-low
              span.label-create-low Company ID:
              span.value-create-low= job.companyId
            div.td-create-low
              span.label-create-low Job Title:
              span.value-create-low= job.jobTitle
            div.td-create-low
              span.label-create-low Requirements and Jobdesk:
              span.value-create-low 
              +formatText(job.requirements)
            div.td-create-low
              span.label-create-low Benefits:
              span.value-create-low 
              +formatText(job.benefits)
            div.td-create-low
              span.label-create-low Salary:
              span.value-create-low= job.salary
            div.td-create-low
              span.label-create-low Date Opened:
              span.value-create-low= job.dateOpened
            div.td-create-low
              span.label-create-low Date Expired:
              span.value-create-low= job.dateExpired
            div.td-create-low
              span.label-create-low Industry:
              span.value-create-low= job.industry
            div.wrap-btn-create-low
              form.form-btn-low(action=`/admin/job/delete/${job.jobId}`, method="POST")
                button.btn-delete-low(type="submit") Delete
              button.btn-edit-low(onclick=`handleClick(${job.jobId}, '${job.companyId}', '${job.jobTitle}', '${job.requirements}', '${job.benefits}', ${job.salary}, '${job.dateOpened}', '${job.dateExpired}', '${job.industry}')`) Edit
    
    div.container-edit-create-low
      form.form-edit-low(method='post' action='/admin/job' id='create')
        div.m-0
          label.label-hidden-low(for='jobId' hidden) jobId (Leave blank to create a new entry)
          input#jobId.input-hidden-low(type='text' name='jobId' value="" hidden)
        div.m-0
          label.label-hidden-low(for='companyId' hidden) companyId
          input#companyId.input-hidden-low(type='text' name='companyId' value=companyId ? companyId : '' hidden)
        div.mb-3
          label.label-create-low(for='jobTitle') Job Title
          input#jobTitle.input-create-low(type='text' name='jobTitle' value="" autocomplete="off")
        div.mb-3
          label.label-create-low(for='requirements') Requirements and Jobdesk
          textarea#requirements.textarea-create-low(name='requirements') 
        div.mb-3
          label.label-create-low(for='benefits') Benefits
          textarea#benefits.textarea-create-low(name='benefits') 
        div.mb-3
          label.label-create-low(for='salary') Salary
          input#salary.input-create-low(type='number' name='salary' value="" autocomplete="off")
        div.mb-3
          label.label-create-low(for='dateOpened') Date Opened
          input#dateOpened.input-create-low(type='date' name='dateOpened' value="" autocomplete="off")
        div.mb-3
          label.label-create-low(for='dateExpired') Date Expired
          input#dateExpired.input-create-low(type='date' name='dateExpired' value="" autocomplete="off")
        div.mb-3
          label.label-create-low(for='industry') Industry
          input#industry.input-create-low(type='text' name='industry' value="" autocomplete="off")
        div.mb-3.wrap-btn-low
          button.btn-create-low(type='submit') Submit
      
      
    script.
      function handleClick(jobId, companyId, jobTitle, requirements, benefits, salary, dateOpened, dateExpired, industry) {
        document.getElementById('jobId').value = jobId;
        document.getElementById('companyId').value = companyId;
        document.getElementById('jobTitle').value = jobTitle;
        document.getElementById('requirements').value = requirements;
        document.getElementById('benefits').value = benefits;
        document.getElementById('salary').value = salary;
        document.getElementById('dateOpened').value = dateOpened.split('T')[0]; // Format date for input
        document.getElementById('dateExpired').value = dateExpired.split('T')[0]; // Format date for input
        document.getElementById('industry').value = industry;
      }

      function toggleJobTable() {
        const tableContainer = document.getElementById("tableContainerLow");
        const toggleIcon = document.getElementById("toggleIconLow");

        if (tableContainer.classList.contains("show")) {
          tableContainer.classList.remove("show"); 
          toggleIcon.classList.remove("active"); 
          toggleIcon.style.marginBottom = "2px";
        } else {
          tableContainer.classList.add("show"); 
          toggleIcon.classList.add("active"); 
          toggleIcon.style.marginBottom = "30px";
        }
      }