extends ../layout.pug

block content
  mixin formatText(text)
    - var formattedText = text ? text.replace(/\n/g, '<br>') : ''
    | !{formattedText}

  div.container-compny-jobapp
    h2.tittle2-company-jobapp Job Application History
    each job in jobs
      h3.tittle3-company-jobapp= job.jobTitle
      div.container-company-table-jobapp
        table.table-company-jobapp
          thead.thead-company-jobapp
            tr.tr-company-jobapp
              th.th-company-jobapp(scope="col") No.
              th.th-company-jobapp(scope="col") Job Seeker Name
              th.th-company-jobapp(scope="col") City, Country
              th.th-company-jobapp(scope="col") Skills
              th.th-company-jobapp(scope="col") Experience
              th.th-company-jobapp(scope="col") Education
              th.th-company-jobapp(scope="col") Phone
              th.th-company-jobapp(scope="col") Social Media
              th.th-company-jobapp(scope="col") Email
              th.th-company-jobapp(scope="col") Application Status
              th.th-company-jobapp(scope="col") Apply Date
              th.th-company-jobapp(scope="col") Files
              th.th-company-jobapp(scope="col") Actions
          tbody.tbody-company-jobapp
            if job.JobApplications.length > 0
              each application, index in job.JobApplications
                tr.tr2-company-jobapp
                  td.td-company-jobapp= index + 1
                  td.td-company-jobapp= application.JobSeeker.jobSeekerName
                  td.td-company-jobapp= application.JobSeeker.city + ", " + application.JobSeeker.country
                  td.td-company-jobapp
                    +formatText(application.JobSeeker.about_skill)
                  td.td-company-jobapp 
                    +formatText(application.JobSeeker.experience)
                  td.td-company-jobapp
                    +formatText(application.JobSeeker.education)
                  td.td-company-jobapp= application.JobSeeker.phone
                  td.td-company-jobapp= application.JobSeeker.socialMedia
                  td.td-company-jobapp
                    a.link-pindah-company-jobapp(href=`mailto:${application.JobSeeker.Account.email}`) #{application.JobSeeker.Account.email}
                  td.td-company-jobapp 
                    +formatText(application.applicationStatus)
                  td.td-company-jobapp= application.applyDate ? application.applyDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) : ''
                  td.td-company-jobapp
                    if application.File
                      ul.ul-company-jobapp
                        each file in application.File.split(',')
                          li.li-company-jobapp
                            a.link-download-company-jobapp(href=`/download/${file.trim()}` target="_blank")= file.trim()
                    else
                      | No files uploaded
                  td.td-company-jobapp
                    form.form-approve-company-jobapp(action=`/company/approve/${application.applicationId}`, method="POST")
                      input.input-hidden-company-jobapp(type="hidden" name="applicationId" value=application.applicationId hidden)
                      button.btn-approve-company-jobapp(type="submit") Approve
                    form.form-reject-company-jobapp(action=`/company/reject/${application.applicationId}`, method="POST")
                      input.input-hidden-company-jobapp(type="hidden" name="applicationId" value=application.applicationId hidden)
                      button.btn-reject-company-jobapp(type="submit") Reject
            else
              tr.tr2-company-jobapp
                td.td-company-jobapp(colspan="13") No applications found for this job.

  include ../footer.pug