extends ../layout.pug

block content
  mixin formatText(text)
      - var formattedText = text ? text.replace(/\n/g, '<br>') : ''
      | !{formattedText}
  .container-detail-low
    div.container-detail-company
      div.wrap-container
        div.wrap-company
          div.wrap-info
            h2.tittle-jobdes=`${company.companyName}`
            div.wrap-industri
              span.industri-text Industri :
              span.result-info= company.industry || 'Tidak disebutkan'
            
            div.wrap-info
              span.lokasi-text Lokasi :
              span.result-info= `${company.city || 'Tidak disebutkan'}, ${company.country || 'Tidak disebutkan'}`
            
            div.wrap-info
              span.telepon-text Kontak :
              span.result-info= company.phone || 'Tidak tersedia'
            
            div.wrap-info
              span.mail-text Email :
              span.result-info= company.email || 'Tidak tersedia'

        div.container-jobdes
          div.job-description
            if selectedJob
              h2.tittle-jobdes #{selectedJob.jobTitle}
            else
              h2.tittle-jobdes Job Description Not Found
            div.wrap-info
                span.lokasi-text Salary :
                span.result-info= ` Rp.${selectedJob.salary || 'Tidak disebutkan'}`
            div.wrap-info
                span.lokasi-text Requirements and Jobdesk :
                  ul.ul-jobdes
                    .li-des
                      +formatText(selectedJob.requirements)
            div.wrap-info
                span.lokasi-text Benefit :
                  ul.ul-jobdes
                    .li-des
                      +formatText(selectedJob.benefits)

      div.card-lowongan-aktif
        div.conatiner-active-lowongan
          h4.tittle-active Lowongan Aktif dari Perusahaan #{company.companyName}
          if jobs && jobs.length > 0
            div.wrap-each-active
              each job in jobs
                div.container-lowongan-active
                  div.wrap-card
                    h5.card-title-low= job.jobTitle || 'Judul Tidak Disebutkan'
                    p.card-text-indus
                      | Industri: 
                      b= job.industry || 'Tidak disebutkan'
                    
                    ul.ul-card-low
                      li.li-low
                        | Salary: 
                        span.text-gaj= job.salary ? `Rp ${job.salary}` : 'Tidak disebutkan'
                      
                      //- li.li-low
                      //-   if job.requirements
                      //-     | Requirements and Jobdesk:
            
                      //-     span.syarat 
                      //-     +formatText(job.requirements)
                      //-   else
                      //-     | Requirements and Jobdesk: 
                      //-     small.syarat-mute Tidak disebutkan
                      //- li.li-low
                      //-   if job.benefits
                      //-     | Benefit: 
                          
                      //-     small.benefits-lowongan
                      //-     +formatText(job.benefits)
                      //-   else
                      //-     | Benefit: 
                      //-     small.benefits-lowongan-mute Tidak disebutkan
                    div
                      a.link-btn-ative(href=`/jobseeker/jobsApply/${job.jobId}`) Lamar Sekarang
        
          else
            div.alert-null-lowongan
              | Tidak ada lowongan aktif dari perusahaan ini saat ini

  include ../footer.pug