extends ../layout.pug

block content
  div.container-detail-company
    div.wrap-container
      div.side1
        div.wrap-company
          div.container-pt
            img.logo-pt
          div.wrap-info
            h2.tittle-jobdes=`${company.companyName}`
            div.wrap-industri
              span.industri-text Industri :
              span.result-info= company.industry || 'Tidak disebutkan'
            
            div.wrap-info
              span.lokasi-text Lokasi :
              span.result-info= `${company.city || 'Tidak disebutkan'}, ${company.country || 'Tidak disebutkan'}`
            
            div.wrap-info
              span.telepon-text Kontak :
              span.result-info= company.phone || 'Tidak tersedia'
            
            div.wrap-info
              span.mail-text Email :
              span.result-info= company.email || 'Tidak tersedia'

      div.container-jobdes
        div.job-description
          h2.tittle-jobdes Job Description
          ul.ul-jobdes
            li.li-des Bertanggung jawab melakukan supervisi, pengawasan dan mendukung aktivitas harian dalam pelaksanaan Mekanisme dan prosedur demi mencapai kepuasan pelanggan dalam memberikan kontribusi kepada tujuan perusahaan.
            li.li-des Menjaga hubungan baik dengan pasien
            li.li-des Menerima dan menangani keluhan maupun saran dari pasien
        
        div.job-requirements
          h2.tittle-req Job Requirements
          ul.ul-req
            li.li-des Usia maks. 27 Tahun
            li.li-des Fresh graduate diperbolehkan
            li.li-des Memiliki penampilan rapi dan menarik
            li.li-des Memiliki komunikasi yang baik dan efektif
            li.li-des Berorientasi pada target
            li.li-des Menguasai MS. Office
            li.li-des Memiliki jiwa service customer dengan baik

      div.conatiner-active-lowongan
        h4.tittle-active Lowongan Aktif dari Perusahaan Ini
        if jobs && jobs.length > 0
          div.wrap-each-active
            each job in jobs
              div.container-lowongan-active
                div.wrap-card
                  h5.card-title-low= job.jobTitle || 'Judul Tidak Disebutkan'
                  p.card-text-indus
                    | Industri: 
                    b= job.industry || 'Tidak disebutkan'
                  
                  ul.ul-card-low
                    li.li-low
                      | Gaji: 
                      span.text-gaj= job.salary ? `Rp ${job.salary}` : 'Tidak disebutkan'
                    
                    li.li-low
                      | Tanggal Dibuka: 
                      span.text-buka= job.dateOpened || 'Tidak disebutkan'
                    
                    li.li-low
                      | Tanggal Berakhir: 
                      span.text-akhir= job.dateExpired || 'Tidak disebutkan'
                  div
                    a.link-btn-ative(href=`/jobseeker/jobsApply/${job.jobId}`) Lamar Sekarang
      
        else
          div.alert-null-lowongan
            | Tidak ada lowongan aktif dari perusahaan ini saat ini