extends ../layout.pug

block content
  h1= jobs.requirements
  h1= id
  form.form-horizontal(method='post' action=`/jobsApply/${jobId}` id='create' enctype="multipart/form-data")
    //- .mb-3
    //-   label.form-label.control-label(for='applicationId') Application ID (Leave blank to create a new entry)
    //-   input#applicationId.form-control(type='text' name='applicationId' value="")
    //- .mb-3
    //-   label.form-label.control-label(for='jobSeekerId') Job Seeker ID
    //-   input#jobSeekerId.form-control(type='text' name='jobSeekerId' value=id readonly)
    //- .mb-3
    //-   label.form-label.control-label(for='jobId') Job ID
    //-   input#jobId.form-control(type='text' name='jobId' value=jobId readonly)
    //- .mb-3
    //-   label.form-label.control-label(for='applicationStatus') Application Status
    //-   select#applicationStatus.form-control(name='applicationStatus' value='Pending')
    .mb-3
      label.form-label.control-label(for='File') File
      input#File.form-control(type='file' name='files' multiple)
    //- .mb-3
    //-   label.form-label.control-label(for='applyDate') Apply Date
    //-   input#applyDate.form-control(type='date' name='applyDate' value="")
    .mb-3.py-3
      button.btn.btn-primary.login-button(type='submit') Create/Update Application
