extends ../layout.pug

block content
  div.container-history-jobsek
    h2.title-history-jobsek Job Application History
    div.wrap-table-jobsek
      table.table-jobsek
        thead.thead-jobsek
          tr.tr-jobsek
            th.th-jobsek No.
            th.th-jobsek Job Title
            th.th-jobsek Company
            th.th-jobsek City
            th.th-jobsek Country
            th.th-jobsek Application Status
            th.th-jobsek Apply Date
            th.th-jobsek Files
        tbody.tbody-jobsek
          each application, index in applications
            tr.tr-jobsek
              td.td-jobsek= index + 1
              td.td-jobsek= application.Job.jobTitle
              td.td-jobsek= application.Job.Company.companyName
              td.td-jobsek= application.Job.Company.city
              td.td-jobsek= application.Job.Company.country
              td.td-jobsek= application.applicationStatus
              td.td-jobsek= application.applyDate ? application.applyDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) : ''
              td.td-jobsek
                if application.File
                  ul.ul-jobsek
                    each file in application.File.split(',')
                      li.li-jobsek
                        a.link-file-jobsek(href=`/download/${file.trim()}` target="_blank")= file.trim()
                else
                  | No files uploaded
                  
  include ../footer.pug