extends ../layout.pug

block content
  div.container-history
    h2.title-history Job Application History

    // Tabel responsive dengan header gelap
    div.table-responsive
        table.table.table-striped.table-hover.table-bordered.thead-dark
            thead
                tr
                    th No.
                    th Job Title
                    th Company
                    th City
                    th Country
                    th Application Status
                    th Apply Date
                    th Files
            tbody
                each application, index in applications
                    tr
                        td= index + 1
                        td= application.Job.jobTitle
                        td= application.Job.Company.companyName
                        td= application.Job.Company.city
                        td= application.Job.Company.country
                        td= application.applicationStatus

                        td= application.applyDate
                        //- td= application.applyDate ? application.applyDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) : ''
                        td
                            if application.File
                                ul.list-unstyled
                                    each file in application.File.split(',')
                                        li
                                            a(href=`/download/${file.trim()}` target="_blank")= file.trim()
                            else
                                | No files uploaded