extends ../layout.pug

block content
  h1= search
  .container.mt-5
    form(action="/jobseeker/search" method="get" onsubmit="return submitForm()" class="search-form")
      input(type='text' id='id' placeholder='Search...' class="search-box")
      button(type='submit' class="search-btn") Search
    
    if items.length > 0
      h2(style="color: #4CAF50; text-align: center; margin-top: 10px;") Results for "#{searchTerm}"
      each item in items
        a(href=`/jobseeker/profile/${item.jobSeekerId}` class="profile-link") 
          .profile-container
            img.profile-pic(src="/img/logo_left.svg" alt="Profile Picture")
            .profile-detail
              .profile-name= item.jobSeekerName
              .profile-bio= item.city
              .profile-bio= item.about_skill

            

      if page > 1
        a(href=`/jobseeker/search/${page - 1}/${searchTerm}`) Previous
      if page < 99
        a(href=`/jobseeker/search/${page + 1}/${searchTerm}`) Next
    else
      p(style="color: #4CAF50; text-align: center; margin-top: 10px;") No results found.

    script.
      function submitForm() {
      const id = document.getElementById('id').value;
      let page;
      if (document.getElementById('page') != null) {
        page = document.getElementById('page').value;
      } else {
        page = 1;
      }
      console.log(id, page)
      if (page == '') {
          page = 1;
        }

      window.location.href = `/jobseeker/search/${page}/${id}`;
      return false; // Prevent the default form submission
      }
